
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-offset-2 col-lg-8 col-md-offset-1">
      <div class="col-md-4 search">
        <input [(ngModel)] = "searchBy" class="form-control" placeholder="Search blogs">
      </div>
      <div class="col-md-5 col-lg-5 ">
        <label for="sort" class="sort col-lg-4 col-md-4">Sort by:</label>
        <div class="col-lg-8 col-md-8">
          <select [(ngModel)]="sortBy" name="sortBy" class="form-control">
            <option *ngFor="let option of options" [value]="option">{{option}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 new-blog">
        <button md-raised-button (click)="openNewBlogModal('')" class="btn btn-success">New Blog</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" *ngFor = "let blog of blogs | search: searchBy | sort: sortBy">
      <div class="post-preview">
        <a [routerLink]="['/blogs', blog?.id]">
          <h2 class="post-title">
            {{ blog?.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ blog?.short_description }}
          </h3>
        </a>
        <p class="post-meta">Posted by {{ blog?.author }} on {{ blog?.created_at | date: 'fullDate' }}</p>
        <a (click)="openNewBlogModal(blog)">Edit<i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a (click)="deleteBlog(blog.id)">Delete<i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </div>
      <hr>
    </div>
  </div>
</div>
<new-blog (addBlog)="addBlog($event)"></new-blog>