<div bsModal #newBlogModal="bs-modal" class="modal fade modal-new-appointment" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header header">
        <button class="close" aria-hidden="true" (click)="hideNewBlogModal()">×</button>
        <h4>Blog</h4>
      </div>
      <div class="modal-body">
			  <form #blogForm="ngForm" (ngSubmit)="saveBlog()" autocomplete="off">
			    <div class="row">
	          <div class="form-group inner-addon left-addon">
	            <label for="author">Name*</label>
	            <input name="author" [(ngModel)]="blog.author" placeholder="Enter your name" class="form-control" required>
	          </div>
	          <div class="form-group">
	            <label for="title">Blog Title*</label>
	            <input type="text" class="form-control" required
	                [(ngModel)]="blog.title" name="title" placeholder="Enter title">
	          </div>
	          <div class="form-group">
	            <label for="short_description">Short Description</label>
	            <input type="text" class="form-control"
	                [(ngModel)]="blog.short_description" name="short_description" placeholder="Enter a short description of your blog">
	          </div>
	          <div class="form-group">
	            <label for="detail">Description*</label>
	            <textarea class="form-control" required name="detail"
	                [(ngModel)]="blog.detail" rows="10" placeholder="Write about it"></textarea>
	          </div>
				    <div *ngIf = "!creatingBlog">
				      <button md-raised-button *ngIf = "!blog.id" type="submit" class="pull-right btn btn-success" [class.disabled]="isClickedOnce">Create Blog</button>
				      <button md-raised-button *ngIf = "blog.id" type="submit" class="pull-right btn btn-success" [class.disabled]="isClickedOnce">Update Blog</button>
				    </div>
				    <div *ngIf = "creatingBlog">
				      <button class="pull-right btn btn-success disabled">
				        <img class="sm-loader" src="assets/img/default.gif" />
				        Creating Blog..
				      </button>
				    </div>
			    	<br>
			    </div>
			  </form>
			</div>
    </div>
  </div>
</div>
