<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-offset-2 col-lg-8 col-md-offset-1">
    	<div class="post-preview">
    		<div class="row actions">
	    		<a (click)="openNewBlogModal(blog)">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
	      	<a (click)="deleteBlog(blog.id)">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></a>
	      	<button md-raised-button (click)="openNewBlogModal('')" class="btn btn-success pull-right new-blog-show">New Blog</button>
	      </div>    	
		    <h1 class="post-title">{{blog?.title}}</h1>
		    <h2 class="post-subtitle">{{blog?.short_description}}</h2>
		    <p class="post-meta">Posted by {{ blog?.author }} on {{ blog?.created_at | date: 'fullDate' }}</p>
		  </div>
		  <div class="post-detail">
	    	<p>{{blog?.detail}}</p>
	    </div>
    </div>
  </div>
</div>
<new-blog></new-blog>